* {
  margin: 0;
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: 90px 220px 220px 220px 300px;
  gap: 10px;
  margin: 0 10%;
  user-select: none;
}

#row1 {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#row2 {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#row3 {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#row4 {
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#title {
  display: grid;
  grid-column: 2;
  text-align: center;
}

.slots {
  border: 1px solid #000;
  text-align: center;
  padding-top: 20%;
  background: grey;
}

.slots h2 {
  border: 5px solid grey;
  height: 90px;
  width: 150px;
  margin-left: 5%;
  padding-top: 30%;
  background: white;
}

.hideText {
  color: white;
}

#slot1 {
  grid-column: 1;
}

#slot2 {
  grid-column: 2;
}

#slot3 {
  grid-column: 3;
}

#slot4 {
  grid-column: 4;
}

#slot5 {
  grid-column: 5;
}

#slot6 {
  grid-column: 6;
}

#slot7 {
  grid-column: 1;
}

#slot8 {
  grid-column: 2;
}

#slot9 {
  grid-column: 3;
}

#slot10 {
  grid-column: 4;
}

#slot11 {
  grid-column: 5;
}

#slot12 {
  grid-column: 6;
}

#slot13 {
  grid-column: 1;
}

#slot14 {
  grid-column: 2;
}

#slot15 {
  grid-column: 3;
}

#slot16 {
  grid-column: 4;
}

#slot17 {
  grid-column: 5;
}

#slot18 {
  grid-column: 6;
}
