* {
  margin: 0;
  font-family: Comic Sans MS;
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: 90px 220px 220px 220px 300px;
  gap: 1px;
  user-select: none;
  background: rgb(15, 15, 15);
}

#row1 {
  grid-row: 1;
  border-bottom: 10px solid orange;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-radius: 10px;
  margin: 0 10%;
}

#row2 {
  grid-row: 2;
  border-top: 10px solid orange;
  padding-top: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
  margin: 0 10%;
  margin-bottom: 4px;
}

#row3 {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 10%;
  margin-bottom: 4px;
}

#row4 {
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 10%;
  padding-bottom: 4px;
  border-bottom: 10px solid orange;
  border-radius: 10px;
  margin-bottom: 4px;
}

#row5 {
  grid-row: 5;
  border-top: 10px solid orange;
  border-radius: 10px;
  background: orange;
}

#userTurns {
  grid-column: 1;
  background: white;
  border: 10px solid red;
  border-radius: 10px;
  width: 80%;
  height: 30%;
  margin-right: 13%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}

#title {
  display: grid;
  grid-column: 2;
  text-align: center;
  background: orange;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 10px solid red;
}

#restart {
  grid-column: 3;
  background: white;
  border: 10px solid red;
  border-radius: 10px;
  width: 80%;
  height: 30%;
  margin-left: 13%;
  margin-top: 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.slots {
  border: 1px solid #000;
  text-align: center;
  padding-top: 20%;
  border: 5px dotted black;
  background: red;
  border-radius: 7px;
  font-size: 75%;
}

.slots h2 {
  border: 5px solid black;
  height: 90px;
  width: 150px;
  margin-left: 3%;
  padding-top: 30%;
  background: orange;
  border-radius: 7px;
  cursor: pointer;
}

.hideText {
  color: orange;
}

#endGameScreen {
  font-size: 200px;
  padding-top: 40px;
  text-align: center;
}

#slot1 {
  grid-column: 1;
}

#slot2 {
  grid-column: 2;
}

#slot3 {
  grid-column: 3;
}

#slot4 {
  grid-column: 4;
}

#slot5 {
  grid-column: 5;
}

#slot6 {
  grid-column: 6;
}

#slot7 {
  grid-column: 1;
}

#slot8 {
  grid-column: 2;
}

#slot9 {
  grid-column: 3;
}

#slot10 {
  grid-column: 4;
}

#slot11 {
  grid-column: 5;
}

#slot12 {
  grid-column: 6;
}

#slot13 {
  grid-column: 1;
}

#slot14 {
  grid-column: 2;
}

#slot15 {
  grid-column: 3;
}

#slot16 {
  grid-column: 4;
}

#slot17 {
  grid-column: 5;
}

#slot18 {
  grid-column: 6;
}

#startScreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
}

#startScreen h6 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#startScreen h1 {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.startScreenContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
}

#buttonStart {
  margin-top: 35px;
  background-color: orange;
  border-radius: 10px;
  font-size: 80px;
  height: 200px;
  width: 600px;
  border: 20px solid red;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
